[Unit]
Description=HPN-SSH per-connection server daemon
Documentation=man:hpnsshd(8) man:hpnsshd_config(5)
Wants=hpnsshd-keygen.target
After=hpnsshd-keygen.target

[Service]
EnvironmentFile=-/etc/sysconfig/hpnsshd
ExecStart=-/usr/sbin/hpnsshd -i $OPTIONS
StandardInput=socket
